@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mattelsa S.A.S<br />
    Sede central, WA 3002510785<br />
    <abbr title="Phone">Tel:</abbr>
    4801515
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">miltonrestrepo@mattelsa.net</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>