@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mattelsa</h1>
    <p class="lead">¿Quieres conocer más sobre nuestra comunidad?, da clic en el boton y enterate de todo.</p>
    <p><a href="https://comunidad.mattelsa.net/la-vida-en-mattelsa" class="btn btn-primary btn-lg">Sitio web Matt &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p>
            En esta opción encontraras la administración de los usuarios.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home", null, null)">Ir&raquo;</a></p>
            @*@Html.ActionLink("Ir", "About", "Home")&raquo;*@
        
    </div>
    <div class="col-md-4">
        <h2>Vehículos</h2>
        <p>En esta opción encontraras la administración de los vehículos.</p>
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ir&raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Reporte Parqueadero</h2>
        <p>Podras ver el roporte de los ingresos al parqueadero.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ir&raquo;</a></p>
    </div>
</div>